.App {
  max-width: 768px;

  margin: 0 auto;
  text-align: center;
  display: grid;
  justify-items: center;
}
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(65, 65, 65);
}
img {
  width: 70px;
  object-fit: cover;
  border-radius: 5rem;
}
.followersContainer {
  display: flex;
  gap: 0.7em;
  flex-wrap: wrap;
  max-width: 768px;
  min-height: 511px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.follower {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 120px;
  max-height: 120px;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  color: rgb(58, 58, 58);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btnContainer {
  display: flex;
  gap: 0.25rem;
}
button {
  background-color: rgb(214, 236, 255);
  all: unset;
  padding: 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(96, 231, 255);
}
.activeBtn {
  background-color: rgb(96, 231, 255);
}
.next_Prev_Btn {
  border: 1px solid rgb(107, 169, 194);
}
